
body {
    font-family: Arial, Helvetica, sans-serif;
    width:  1000px;
    /*text-align: center;*/
    margin: auto auto auto auto;
   
}

#main {
    background: #FFFFFF;
    width: auto;
    height: auto;
}

#header {
    height: 175px;
    background: #024274; 
    text-align: center;
    
   
}

#headerLogo {
    height: 150px;
    width: 250px;
    float: left;
    margin-left: 30px;
    margin-top: -30px;
}

#headerTitle {
    float: none;
    width: 900px;
    /*text-align: center;*/
    margin: 20px 0 0 90px;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
}

#headerSubTitle {
    float: none;
    width: 900px;
    margin: 15px 0 0 95px;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

#widgetBar {
    height: 40px;
    background: #BDBDBD;
    border-bottom: 2px solid;
}

.headerWidget {
    width: 50px;
    margin: 20px 15px;
    font-size: small;
    float: right;
    line-height: 4px;
    background: #BDBDBD;
}

#footer {
    height: 90px;
    margin-top: 0px;
    clear: left;
    background: #BDBDBD;
}

#mission {
    margin-top: 0px;
    
    
}

#missionTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    text-align: center;
    font-size: 14px;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

#missionStatement {
    margin-top: 5px;
    text-align: left;
    font-size: 11px;
    font-family:"Times New Roman",Georgia,Serif;
    margin-right: 250px;
    margin-left: 250px;
}

#footerLogo {
    margin-left: 850px;
    height: 35px;
    width: 35px;
    margin-top: -85px;
    float: top;
}

#sideBar {
    height: 425px;
    width: 250px;
    float: left;
    background: #024274;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    
}

#sideMenu {
    margin: 10px 10px 10px 10px;
    background: #FAFAFA;
    height: 400px;
    width: 225px;
    border: 2px solid;
}

.links {
    text-align: left;
    margin-left: 20px;
    line-height: 20px;
}

#pageBody {
    height: 425px;
    width: auto;
    float: none;
    background: #FAFAFA;
    border-top: 2px solid;
    margin-left: 250px;
    border-bottom: 2px solid;
    
}

tr, td {
    border: 1px solid black;
}

th {
    font-size: 20px;
}

.courseTable {
    margin: 20px 20px 20px;
    width: 713px;
    border-color: black;
    border: 3px solid;
    height: 385px;
    background: #FAFAFA; 
    vertical-align: top;
}

.tableHead {
    width: 610px;
    height: 50px;
    background: #FFFFFF;
    text-align: left;
    line-height: 25px;
    border: 1px solid black;
    
}

.courseLabelText {
    line-height: 20px;
    font-size: 14px;
}

#courseTableRow {
    border: 10px solid black;
   /* margin: 25px;*/
    background: #F2F2F2;
    vertical-align: top;
}